<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Autoriser l'accès direct aux fichiers statiques
    RewriteCond %{REQUEST_URI} !^/assets/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

# Autoriser l'accès aux fichiers statiques
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Allow from all
</FilesMatch>